@model MVCApplication.Models.MovieRent

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MovieRent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="MovieId" class="form-control" value="@ViewData["MovieId"]" hidden/>
            <input asp-for="CustomerId" class="form-control" value="@ViewData["CustomerId"]" hidden />
            <div class="form-group">
                <label asp-for="RentDate" class="control-label"></label>
                <input asp-for="RentDate" class="form-control" />
                <span asp-validation-for="RentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Catalog" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            var today = new Date().toISOString().split('T')[0];
            $('#RentDay').attr('min', today);

            $('#RentDay').change(function () {
                var rentDate = $(this).val();
                $('#ReturnDate').attr('min', rentDate);
            });
        });
    </script>
}
